<div style="text-align: justify;"> 
	<div class="ContDoc">
		<a style="color: red"><!-- Codigo del proyecto --></a>
		<a class="fa fa-paperclip" aria-hidden="true"><a> <!-- Titulo del Proyecto --></a>
		<div class="ContInf" style="margin-left: 32px;">
			<table>
				<tr>
					<td><!-- Cargo --></td>
					<td><!-- Nombre --></td>
				</tr>	
				<tr>
					<td><!-- Cargo --></td>
					<td><!-- Nombre --></td>
				</tr>	
				<tr>
					<td><!-- ... --></td>
					<td><!-- ... --></td>
				</tr>							
			</table>
		</div>
	</div>
</div>
