<div style="text-align: justify;">
	<div class="ContDoc">
		<a style="color: red">25-D053</a>
		<a class="fa fa-paperclip" aria-hidden="true"><a style="color: black"> Integración de las Ciencias Básicas con las Asignaturas de Formación Profesional en las Carreras de Ingeniería</a>
		<div class="ContInf" style="margin-left: 32px;">
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="http://www.frcu.utn.edu.ar/cyt/gesdc/?page_id=993">Resumen</a>
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="http://www.frcu.utn.edu.ar/cyt/gesdc/?page_id=997">Directores y co-directores</a>
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="http://www.frcu.utn.edu.ar/cyt/gesdc/?page_id=1001">Investigadores involucrados</a>
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="#">Artículos presentados en congresos, jornadas y revistas</a>
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="#">Planificación PID</a>
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="#">Metodología</a>
		</div>
	</div>
	<div class="ContDoc">
		<a style="color: red">TEUTICU0003924TC</a>
		<a class="fa fa-paperclip" aria-hidden="true"><a style="color: black"> La enseñanza y el aprendizaje en la universidad basados en indagación con soporte tecnológico: co-diseño de escenarios de aprendizaje</a>
		<div class="ContInf" style="margin-left: 32px;">
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="http://www.frcu.utn.edu.ar/cyt/gesdc/?page_id=887">Resumen</a>
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="http://www.frcu.utn.edu.ar/cyt/gesdc/?page_id=892">Directores y co-directores</a>
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="http://www.frcu.utn.edu.ar/cyt/gesdc/?page_id=895">Investigadores involucrados</a>
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="#">Artículos presentados en congresos, jornadas y revistas</a>
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="#">Planificación PID</a>
			<a class="fa fa-chevron-right" aria-hidden="true" href="#"></a> <a href="#">Metodología</a>
		</div>
	</div>	
</div>
<!--
Datos que no se usarion:
25-D053
	url anterior: http://www.frcu.utn.edu.ar/cyt/gesdc/?page_id=636 [ELIMIAR DESPUES]
	Fecha de inicio: 1-1-2011
	Fecha de fin: 31-12-2013				


Diseño
	@Fanes
	ffanaes@gmail.com
	Facundo Veronesi
-->